body {
    background-color: #ffd1dc; /* pastel pink */
    color: #000000;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 30px auto;
}

.filter-group {
    margin-bottom: 5px;
    display: block;
}

.filter-group label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

.product-card {
    background-color: #e7b6c2;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #cc879b;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-2px);
}

.product-card h3 {
    margin-bottom: 10px;
    color: #222;
}

.product-card p {
    margin: 4px 0;
    font-size: 15px;
}

.product-card button {
    background-color: #ffb6c1;
    color: #000;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #bf7581;
}

.home-button,
.back-button {
    position: absolute;
    top: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    background-color: #e7b6c2;
    padding: 6px 12px;
    border-radius: 5px;
}

.home-button {
    left: 10px;
}

.back-button {
    left: 120px;
}
